# Systemd service configuration for extichu
[Unit]
Description=iFun Engine game - extichu
After=syslog.target network-online.target

[Install]
WantedBy=multi-user.target

[Service]
# If this limit is not enough, you SHOULD look after
# "net.netfilter.nf_conntrack_tcp_timeout_time_wait" (using sysctl)
LimitNOFILE=999999

# It is strongly recommended that one should use uid:gid other than the root
# NOTE: Please update User=, Group=, and ExecStartPre=
User=root
Group=root

# Makes the daemon automatically restart
Type=simple
Restart=always
RestartSec=5s

# create directories, and change permissions (with root privileges)
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/funapi/extichu/glog \
  /var/log/funapi/extichu/activity \
  /var/log/funapi/extichu/counter \
  /var/crash/funapi/extichu
# NOTE: change root:root to service's uid:gid
ExecStartPre=/bin/chown -R root:root /var/log/funapi/extichu/glog \
  /var/log/funapi/extichu/activity \
  /var/log/funapi/extichu/counter \
  /var/crash/funapi/extichu

EnvironmentFile=/etc/default/extichu
ExecStart=/usr/bin/extichu-launcher
